.echarts-main {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: left;
    gap: 10px;
}

.chart-lists {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    overflow: hidden;
    justify-content: space-evenly;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}